.AddListItem__form {
  display: flex;
  padding: 3rem 0;
  width: 100%;
}

.AddListItem__input {
  border-radius: 0.5rem 0 0 0.5rem;
  border: 0.1rem #000 solid;
  border-right: 0;
  padding: 1.2rem;
  width: 100%;
}

.AddListItem__input::placeholder {
  font-style: italic;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

.AddListItem__button:focus {
  border: 0.1rem #62c3de solid;
}

.AddListItem__button {
  border-radius: 0 0.5rem 0.5rem 0;
  border: 0.1rem #000 solid;
  border-left: 0;
  padding: 1.2rem;
  background-color: #a6d9a6;
  width: 14rem;
  cursor: pointer;
  font-size: 1.6rem;
}
