.congrats {
  text-align: center;
}

.congrats__title {
  color: #fdd920;
  text-shadow: 0.1rem 0.4rem 0.2rem rgba(0, 0, 0, 0.8);
  /* font-family: Lato, sans-serif; */
  font-weight: 700;
  font-size: 3.6rem;
  margin-top: 2rem;
}

.congrats__message {
  margin-top: 1rem;
}
